version: "3"

services:
  db:
    image: postgres:15
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${SINGULARITY_DB_USER:-postgres}
      POSTGRES_PASSWORD: ${SINGULARITY_DB_PASSWORD:-postgres}
      POSTGRES_DB: ${SINGULARITY_DB_NAME:-singularity}
    volumes:
      - motion-singularity-volume:/var/lib/postgresql/data
    ports:
      - 5432:5432

  singularity_api:
    image: ghcr.io/data-preservation-programs/singularity:${SINGULARITY_TAG}
    command: run api --bind :9090
    volumes:
      - motion-singularity-volume:/usr/src/app/storage
    ports:
      - 9090:9090
    environment:
      DATABASE_CONNECTION_STRING: postgres://${SINGULARITY_DB_USER:-postgres}:${SINGULARITY_DB_PASSWORD:-postgres}@db:5432/${SINGULARITY_DB_NAME:-singularity}
    depends_on:
      db:
        condition: service_healthy

  singularity_dataset_worker:
    image: ghcr.io/data-preservation-programs/singularity:${SINGULARITY_TAG}
    volumes:
      - motion-singularity-volume:/usr/src/app/storage
    command: run dataset-worker
    environment:
      DATABASE_CONNECTION_STRING: postgres://${SINGULARITY_DB_USER:-postgres}:${SINGULARITY_DB_PASSWORD:-postgres}@db:5432/${SINGULARITY_DB_NAME:-singularity}
    depends_on:
      db:
        condition: service_healthy

  singularity_deal_pusher:
    image: ghcr.io/data-preservation-programs/singularity:main
    command: run deal-pusher
    environment:
      DATABASE_CONNECTION_STRING: postgres://${SINGULARITY_DB_USER:-postgres}:${SINGULARITY_DB_PASSWORD:-postgres}@db:5432/${SINGULARITY_DB_NAME:-singularity}
    depends_on:
      db:
        condition: service_healthy

  singularity_deal_tracker:
    image: ghcr.io/data-preservation-programs/singularity:main
    command: run deal-tracker
    environment:
      DATABASE_CONNECTION_STRING: postgres://${SINGULARITY_DB_USER:-postgres}:${SINGULARITY_DB_PASSWORD:-postgres}@db:5432/${SINGULARITY_DB_NAME:-singularity}
    depends_on:
      db:
        condition: service_healthy

  motion:
    image: ghcr.io/filecoin-project/motion:main
    entrypoint: motion --experimentalSingularityStore --experimentalRemoteSingularityAPIUrl=http://singularity_api:9090
    ports:
      - 40080:40080
    environment:
      - MOTION_STORE_DIR=/usr/src/app/storage
    volumes:
      - motion-singularity-volume:/usr/src/app/storage
    depends_on:
      - singularity_api

volumes:
  motion-singularity-volume: