version: '3.8'

services:
  db:
    extends:
      file: docker-compose.yml
      service: db

  singularity_admin_init:
    extends:
      file: docker-compose.yml
      service: singularity_admin_init
    depends_on:
      db:
        condition: service_healthy

  singularity_api:
    extends:
      file: docker-compose.yml
      service: singularity_api
    depends_on:
      singularity_admin_init:
        condition: service_completed_successfully

  singularity_dataset_worker:
    extends:
      file: docker-compose.yml
      service: singularity_dataset_worker
    depends_on:
      singularity_admin_init:
        condition: service_completed_successfully

  singularity_deal_pusher:
    extends:
      file: docker-compose.yml
      service: singularity_deal_pusher
    depends_on:
      singularity_admin_init:
        condition: service_completed_successfully

  singularity_deal_tracker:
    extends:
      file: docker-compose.yml
      service: singularity_deal_tracker
    depends_on:
      singularity_admin_init:
        condition: service_completed_successfully

  singularity_content_provider:
    extends:
      file: docker-compose.yml
      service: singularity_content_provider
    depends_on:
      singularity_admin_init:
        condition: service_completed_successfully

  motion:
    build: .
    entrypoint: motion --experimentalSingularityStore --experimentalRemoteSingularityAPIUrl=http://singularity_api:9090 --experimentalSingularityContentURLTemplate=${SINGULARITY_CONTENT_PROVIDER_DOMAIN:-http://singularity_content_provider:7778}/piece/{PIECE_CID}
    ports:
      - 40080:40080
    environment:
      - MOTION_STORE_DIR=/usr/src/app/storage
      - LOTUS_TEST
      - LOTUS_API
      - LOTUS_TOKEN
      - MOTION_STORAGE_PROVIDERS
      - MOTION_PRICE_PER_GIB_EPOCH
      - MOTION_PRICE_PER_GIB
      - MOTION_PRICE_PER_DEAL
      - MOTION_DEAL_START_DELAY
      - MOTION_DEAL_DURATION
      - MOTION_SINGULARITY_MAX_CAR_SIZE
      - MOTION_SINGULARITY_PACK_THRESHOLD
      - MOTION_SINGULARITY_SCHEDULE_CRON
      - MOTION_SINGULARITY_SCHEDULE_DEAL_NUMBER
      - MOTION_WALLET_KEY
      - MOTION_VERIFIED_DEAL
    volumes:
      - motion-singularity-volume:/usr/src/app/storage
    depends_on:
      - singularity_api

volumes:
  motion-singularity-volume:

networks:
  default:
    name: motion